.talents-table {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column;

    .talents-table-row
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      &.title{
        font-size: x-large;
        font-weight: bold;
      }
    }

    
}


